@page "/"
@using MusicApi.Data;
@using MusicApi.Dtos;
@using MusicApi.Request;
@using MusicApi.FrontFacingData;
@using MusicBlazorApp.State;
@inject UserManager<IdentityUser> userManager;
@inject IConfiguration config;
@inject HttpClient httpClient;
@inject AuthenticationStateProvider auth;
@inject IHostEnvironment Environment;
@inject CartState cartState;
@inject NavigationManager NavManager;
@inject IJSRuntime JSRuntime


<PageTitle>Collaborative Music - Home</PageTitle>

<!-- Hero -->
<div class="hero-bar row align-items-center">
    <div class="col-md-3 "></div>
    <div class="col-md-3">
        <center><img class="guitar-image img-fluid img fade-in" src="css/images/HomeScreenGuitar.png" /></center>
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column align-items-lg-center fade-in">
            <h1 style="font-weight: 800;">Collaborative Music</h1>
            <h3>The one-stop music shop</h3>
            <a class="special-btn" href="/browse-instruments"><p>Shop Now</p></a>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>


<!--Highest Rated Items-->
<div class="p-4 items-showcase">
    <center><h2>Our Highest Rated Items</h2></center><hr />
    <div class="d-flex flex-wrap flex-row justify-content-around">
        @if (Items.Count() != 0)
        {
            @foreach (var item in TopRatedItems)
            {
                <div class="card m-4" style="width: 18rem;border: none; border-radius: 0px; box-shadow: 3px 3px 10px lightgray;" @onclick="() => HandleClick(item.Id)">
                    <div style="height:297px;">
                        @if (item.PrimaryImagePath != "css\\images\\itemImages")
                        {
                            @if (item.Quantity == 0)
                            {
                                <img class="card-img-top" src="@item.PrimaryImagePath" alt="@item.ItemName" style="border-radius: 0px; filter: saturate(0);">
                                <p style="background-color: darkred; color: white; position:absolute; top: 30px; padding: 10px; left: -5px;">Out of Stock</p>
                            }
                            else
                            {
                                <img class="card-img-top" src="@item.PrimaryImagePath" alt="@item.ItemName" style="border-radius: 0px;  max-height: 288px; max-width: 18rem; width: auto; margin-left: auto; margin-right: auto;">
                            }
                        }
                        else
                        {
                            <img class="card-img-top" src="https://dummyimage.com/400x500/595959/fff&text=no_image" alt="@item.ItemName" style="border-radius: 0px;">
                        }
                    </div>


                    <div class="card-title"><h5 class="m-2">@item.ItemName</h5></div>
                    <div class="card-body">
                        @for (int i = 1; i <= 5; i++)
                        {
                            @if (item.AverageItemRating >= i)
                            {
                                <i class="fa fa-star rating-color"></i>
                            }
                            else
                            {
                                <i class="fa fa-star"></i>
                            }
                        }
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>$@item.SellPrice</strong></p>
                    </div>
                </div>
            }
        }
        else
        {
            for (int i = 0; i < 5; i++)
            {
                <div class="card m-4" style="width: 18rem;border: none; border-radius: 0px; box-shadow: 3px 3px 10px lightgray;">
                    <img src="" alt="  " class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                    </div>
                </div>
            }
        }
    </div>
    <center><a href="/browse-instruments" style="text-decoration: none; "><h5 class="red-button w-50" style="padding-top: 12px;">See More</h5></a></center>
</div>

<!-- Rent a recording studio -->
<div class="" style="background-color: #11151D;">

    <div class="row m-5">
        <div class="container col-lg-6">
            <div class="image-stack">
                <div class="image-stack__item image-stack__item--top">
                    <img src="css/images/Recording-Studio3.jpg" alt="" style="max-width:600px;">
                </div>
                <div class="image-stack__item image-stack__item--bottom">
                    <img src="css/images/Recording-Studio2.jpg" alt="" style="max-width:600px;">
                </div>
            </div>
        </div>
        <div class="decript col-lg-6 p-5" style="color: white; margin-top:50px;">
            <h3>Rent a Collaborative Music Space </h3><hr>
            <p style="font-size:larger">
                We offer many options for renting spaces! Collaborative Music aims to make recording more accessible for the everyday creator. We do this by:
                <ul>
                    <li>Offering different kinds of recording spaces to meet a wide variety of needs, from cozy practice rooms to high-end musical studios</li>
                    <li>Creating affordable pricing for our customers with minimal commitment required</li>
                    <li>Equipping our spaces with professional equipment at a fraction of the cost, rather than if members were to purchase that equipment themselves</li>
                </ul>
                By creating recording spaces specifically for new-age creators and artists, we have enabled our customers to capitalize on an unmet need in the market.
            </p>
            <center><a href="/rent-a-room" class="rnt-room-btn"><h5 class="red-button w-50" style="padding-top: 12px;">Rent a Recording Studio</h5></a></center>
        </div>
    </div>
</div>



<!-- Three Button Section -->
<div class="button-section mx-5 d-none">
    <center class="service-tag">
        <h2>Services</h2>
    </center>
    <div class="service-links-wrapper d-flex flex-row justify-content-around flex-sm-wrap">
        <a class="links" href="/browse-instruments">
            <div class="service-links m-2 p-5">
                <center><h2><span class="service-links-name">Purchase Equipment</span></h2></center>
                <center><i class="ikons fa-solid fa-cart-shopping mt-4"></i></center>
            </div>
        </a>

        <a class="links" href="/browse-instruments">
            <div class="service-links m-2 p-5">
                <center><h2><span class="service-links-name">Rent Instruments</span></h2></center>
                <center><i class="ikons fa-solid fa-guitar mt-4"></i></center>
            </div>
        </a>
        <a class="links" href="/rent-a-room">
            <div class="service-links m-2 p-5">
                <center><h2><span class="service-links-name">Rent a Studio </span></h2></center>
                <center><i class="ikons fa-solid fa-microphone-lines mt-4"></i></center>
            </div>
        </a>
    </div>
</div>

<!-- About Us -->
<div class="p-5" style="margin-bottom:50px;">
    <center>
        <h1>About</h1>
        <div style="max-width: 60%; margin-left: auto; margin-right: auto;">
            <div>
            <p class="lead">Immerse yourself in our inviting space, designed to foster collaboration and artistic expression. From cozy jam rooms to state-of-the-art recording studios, Collaborative provides the ideal environment for musicians of all levels to connect, collaborate, and bring their musical visions to life.</p>
            <p class="lead">Need the perfect instrument for your session? Explore our instrument rental and purchase options, featuring a diverse range of high-quality guitars, drums, keyboards, and more. At Collaborative Music, we believe in removing barriers to creativity, ensuring you have the tools you need to make your musical dreams a reality.</p>
                <p class="lead">Check out Collaborative Music, where the harmony of collaboration meets the melody of possibility. 🎵✨</p>
            </div>
        </div>
    </center>
</div>

<!-- How to Rent -->
<div>
    <div class="rent-bar w-100">
        <center>
            <h2 class="how-to-rent">How to Rent Items</h2>
        </center>
        <div class="how-to-rent-wrapper d-flex flex-row justify-content-around flex-sm-wrap">
            <div class="rent-descriptions m-2 p-5">
                <center><h4>1. Create an Account</h4></center>
                <center><i class="ikons fa-regular fa-user mt-4"></i></center>
            </div>
            <div class="rent-descriptions m-2 p-5">
                <center><h4>2. Schedule Online Rental</h4></center>
                <center><i class="ikons fa-solid fa-arrow-pointer mt-4"></i></center>
            </div>
            <div class="rent-descriptions m-2 p-5">
                <center><h4>3. Pick Up Rental </h4></center>
                <center><i class="ikons fa-solid fa-car mt-4"></i></center>
            </div>
        </div>
    </div>
</div>

<!-- Visit our Location -->
<div class="button-section mx-5">
    <div class="location-wrapper d-flex flex-row justify-content-center flex-sm-wrap">
        <div class="location-descriptions m-2 p-5 ">
            <center><h1><a class="location-title">Visit our location</a></h1></center>
            <h4>54 N Main St<br /> Ephraim, Utah <br />84337<br /> <br />(435) 111-1234</h4>
        </div>
        <div class="location-descriptions m-2 p-5">
            <img class="map img" src="css/images/map.png" />
        </div>
    </div>
</div>

@code
{
    public string userEmailAddress { get; set; }

    public bool notFound { get; set; } = false;

    public string carouselName { get; set; }

    public IEnumerable<ItemDto>? Items = new List<ItemDto>();

    public IEnumerable<ItemDto>? TopRatedItems = new List<ItemDto>();

    protected override async Task OnInitializedAsync()
    {

        Items = await httpClient.GetFromJsonAsync<List<ItemDto>>($"{config[Constants.ApiEndpoint]}/Items");

        var authstate = await auth.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user.Identity?.Name;

        OrderByRating();

        foreach (var item in Items)
        {
            item.PrimaryImagePath = Path.Combine("css", "images", "itemImages", $"{item.PrimaryImagePath}");
        }

        if (name is null)
        {
            return;
        }
        Customer customer;
        var response = await httpClient.GetAsync($"{config[Constants.ApiEndpoint]}/customer/{name}");
        if(response.StatusCode == System.Net.HttpStatusCode.NoContent)
        {
            customer = null;
        }
        else
        {
            customer = await response.Content.ReadFromJsonAsync<Customer>();
        }


        if (customer is null)
        {
            var request = new AddCustomerRequest(name);
            await httpClient.PostAsJsonAsync($"{config[Constants.ApiEndpoint]}/customer/{request}", request);
        }
    }


    public void OrderByRating()
    {
        Items = Items.OrderByDescending(i => i.AverageItemRating);
        TopRatedItems = Items.Take(5);
    }

    public void HandleClick(int id)
    {
        NavManager.NavigateTo($"/View-Item/{id}");
    }
}
