@page "/ImageUpload"
@inject IHostEnvironment Environment;
@inject HttpClient httpClient;
@inject AuthenticationStateProvider auth;
@inject IConfiguration config;
@using MusicApi.Data;
@using MusicApi.FrontFacingData;

<h1>ImageUpload</h1>

<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">SKU</th>
                <th scope="col">Item Name</th>
                <th scope="col">Description</th>
                <th scope="col">$Sell Price</th>
                <th scope="col">$Suggested Rental Price</th>
                <th scope="col">Image Upload</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>@item.SerialNumber</td>
                    @if (selectedItem != item)
                    {
                        <td>@item.ItemName</td>
                        <td>@item.Description</td>
                        <td>@item.SellPrice</td>
                        <td>@item.SuggestedRentalPrice</td>
                        <td></td>
                    }
                    else
                    {

                        <td>
                            <div class="form-row">
                                <div class="input-group">
                                    <input type="text" class="form-control text" @bind="ItemName">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-row">
                                <div class="input-group">
                                    <input type="text" class="form-control text" @bind="ItemDescription">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="number" @bind="SellPrice" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="c2" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="number" @bind="RentPrice" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="c2" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <InputFile OnChange="@LoadFiles" multiple />
                                <p>@Test</p>
                                <p>@ImageSaveLocation</p>
                            </div>
                        </td>
                    }
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditItem(item)">Edit</button>
                        @if (item == selectedItem)
                        {
                            <button class="btn btn-secondary" @onclick="Submit">Submit</button>
                            <td>
                                <div>
                                    <input type="checkbox" name="Is Primary" id="IsPrimary" @onclick="swap"/>
                                    <p>@isPrimary</p>
                                    <label for="IsPrimary">Is Primary</label>
                                </div>
                            </td>
                        }
                   </td>
                </tr>
            }
        </tbody>
    </table>
</div>




@code {
    string ImageSaveLocation { get; set; } = "";
    List<ItemDto>? Items { get; set; } = new();
    ItemDto? selectedItem = new();
    IBrowserFile? image;
    string Test { get; set; }


    //Editing values
    string ItemName { get; set; } = "";
    string ItemDescription { get; set; } = "";
    decimal? SellPrice { get; set; }
    decimal? RentPrice { get; set; }
    string? filePath { get; set; }
    bool isPrimary = false;

    private void swap()
    {
        isPrimary = !isPrimary;
    }


    protected override async Task OnInitializedAsync()
    {
        Items = await httpClient.GetFromJsonAsync<List<ItemDto>>($"{config[Constants.ApiEndpoint]}/items");
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        image = e.File;
        DateTime time = DateTime.Now;

        var uniqueIdentifier = $"{time.Year}-{time.Month}-{time.Day}-{time.Hour}-{time.Minute}-{time.Second}-{selectedItem.SerialNumber}.jpg";
        filePath = uniqueIdentifier;
        ImageSaveLocation = Path.Combine(Environment.ContentRootPath, "wwwroot", "css", "images", "itemImages", $"{uniqueIdentifier}");

    }

    private async Task SaveImage()
    {

        if (image is not null)
        {
            await using FileStream fs = new(ImageSaveLocation, FileMode.Create);
            await image.OpenReadStream().CopyToAsync(fs);
        }
    }

    private void EditItem(ItemDto selected)
    {
        ItemName = selected.ItemName;
        ItemDescription = selected.Description;
        SellPrice = selected.SellPrice;
        RentPrice = selected.SuggestedRentalPrice;
        selectedItem = selected;
        Test = Constants.ApiEndpoint;
    }

    private async Task Submit()
    {
        var request = new AddItemRequest(selectedItem.Id, ItemName, ItemDescription, SellPrice, RentPrice, filePath, isPrimary);
        var response = await httpClient.PostAsJsonAsync($"{config[Constants.ApiEndpoint]}/items/{request}", request);
        await SaveImage();
        selectedItem = null;
        image = null;
    }
}
